.gsadmin-link{
	font-size: 15px!important;
}

.gsadmin-link.gsadmin-link-primary{
	color : #5FB878 ;
}

.gsadmin-link.gsadmin-link-success{
	color : #5FB878 ;
}

.gsadmin-link .gsadmin-link-warming{
	
	
}

.gsadmin-link .gsadmin-link-danger{
	
}