<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>仪表盘</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="/static/component/gsadmin/css/gsadmin.css" />
    <link rel="stylesheet" href="/static/admin/css/other/console.css" />
    <!-- 主 题 更 换 -->
    <style id="gsadminadmin-bg-color"></style>
</head>

<body>
<div class="gsadmin-container">
    <div class="layui-row layui-col-space10">
        <div class="layui-col-md8">
            <div class="layui-row layui-col-space10">
                <div class="layui-col-md12">
                    <div class="layui-card">
                        <div class="layui-card-header">
                            资源概况
                        </div>
                        <div class="layui-card-body">
                            <div class="layui-row layui-col-space10">
                                <div class="layui-col-md3 layui-col-sm6 layui-col-xs6">
                                    <div class="deputy">
                                        <div class="deputy-label">文章总数</div>
                                        <div class="deputy-count">
                                            <span>224</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="layui-col-md3 layui-col-sm6 layui-col-xs6">
                                    <div class="deputy">
                                        <div class="deputy-label">书册总数</div>
                                        <div class="deputy-count">12</div>
                                    </div>
                                </div>
                                <div class="layui-col-md3 layui-col-sm6 layui-col-xs6">
                                    <div class="deputy">
                                        <div class="deputy-label">文档总数</div>
                                        <div class="deputy-count">432</div>
                                    </div>
                                </div>
                                <div class="layui-col-md3 layui-col-sm6 layui-col-xs6">
                                    <div class="deputy">
                                        <div class="deputy-label">阅读总数</div>
                                        <div class="deputy-count">1213214</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="layui-col-md12">
                    <div class="layui-card-header" style="background-color: #FFFFFF">
                        阅读数量
                    </div>
                    <div class="layui-card">
                        <div class="layui-card-body">
                            <div class="layui-tab custom-tab layui-tab-brief">
                                <div id="pv-chart" style="min-height:300px;"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="layui-col-md12">
                    <div class="layui-card-header" style="background-color: #FFFFFF">
                        热点文章
                    </div>
                    <div class="layui-card">
                        <div class="layui-card-body">
                            <div id="hot-article" style="min-height: 250px;"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="layui-col-md4">
            <div class="layui-card">
                <div class="layui-card-header">日历</div>
                <div class="layui-card-body">
                    <widget-calendar></widget-calendar>
                </div>
            </div>
        </div>
        <div class="layui-col-md4">
            <div class="layui-card">
                <div class="layui-card-header">其他</div>
                <div class="layui-card-body" style="min-height: 250px;">
                    <div style="line-height: 2">
                        <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            GsAdmin是基于Golang + Layui + MySql的轻量级极速后台开发框架，干净不臃肿、操作简单、开箱即用；通用型的后台权限管理机制，
                            容易功能定制和二次开发，帮助开发者简单高效降低二次开发成本。</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="/static/component/layui/layui.js"></script>
<script src="/static/component/gsadmin/gsadmin.js"></script>
<script src="/static/component/calendar/calendar.min.js"></script>
<script src="/static/component/calendar/widget-calendar.min.js"></script>

<script>
    layui.use(['layer', 'echarts','element','jquery'], function() {
        var echarts = layui.echarts,
            $ = layui.jquery;

        var data_01 = [
            {"id":"1", "title":"一次小而美的重构：使用 C# 在 Avalonia 中生成真正好看的词云", "pv":323},
            {"id":"2", "title":"AI Agent离我们有多远？认知革命的开始（上篇）", "pv":310},
            {"id":"3", "title":"记一次SQL隐式转换导致精度丢失问题的排查", "pv":290},
            {"id":"4", "title":"物流规划、仓储自动化和算法调度的问题分析", "pv":279},
            {"id":"5", "title":"GC垃圾收集时，居然还有用户线程在奔跑", "pv":264},
            {"id":"6", "title":"C# 使用StackExchange.Redis实现分布式锁的两种方式", "pv":253},
            {"id":"7", "title":"dotnet 9 通过 AppHostRelativeDotNet 指定自定义的运行时路径", "pv":229},
            {"id":"8", "title":"如何统计不同电话号码的个数？—位图法", "pv":201},
            {"id":"9", "title":"C#高性能开发之类型系统：从 C# 7.0 到 C# 14 的类型系统演进全景", "pv":184},
            {"id":"10", "title":"从零实现富文本编辑器#3-基于Delta的线性数据结构模型", "pv":163}
        ]

        var data_02 = [
            {"date": "2024-01-01","article_pv": 23,"document_pv": 3},
            {"date": "2024-01-02","article_pv": 12,"document_pv": 5},
            {"date": "2024-01-03","article_pv": 43,"document_pv": 13},
            {"date": "2024-01-04","article_pv": 51,"document_pv": 36},
            {"date": "2024-01-05","article_pv": 67,"document_pv": 23},
            {"date": "2024-01-06","article_pv": 34,"document_pv": 13},
            {"date": "2024-01-07","article_pv": 33,"document_pv": 6},
            {"date": "2024-01-08","article_pv": 67,"document_pv": 39},
            {"date": "2024-01-09","article_pv": 97,"document_pv": 23},
            {"date": "2024-01-10","article_pv": 67,"document_pv": 73},
            {"date": "2024-01-11","article_pv": 123,"document_pv": 51},
            {"date": "2024-01-12","article_pv": 34,"document_pv": 34},
            {"date": "2024-01-13","article_pv": 54,"document_pv": 43},
            {"date": "2024-01-14","article_pv": 87,"document_pv": 3},
            {"date": "2024-01-15","article_pv": 56,"document_pv": 21},
            {"date": "2024-01-16","article_pv": 12,"document_pv": 14},
            {"date": "2024-01-17","article_pv": 5,"document_pv": 37},
            {"date": "2024-01-18","article_pv": 0,"document_pv": 93},
            {"date": "2024-01-19","article_pv": 54,"document_pv": 3},
            {"date": "2024-01-20","article_pv": 76,"document_pv": 43},
            {"date": "2024-01-21","article_pv": 21,"document_pv": 33},
            {"date": "2024-01-22","article_pv": 15,"document_pv": 34},
            {"date": "2024-01-23","article_pv": 17,"document_pv": 5},
            {"date": "2024-01-24","article_pv": 34,"document_pv": 89},
            {"date": "2024-01-25","article_pv": 23,"document_pv": 73}
        ];

        var pv_data = trans_pv_data(data_02);
        var pv_chart = echarts.init(document.getElementById('pv-chart'));
        var option = {
            // visualMap: [
            //     {
            //         show: false,
            //         type: 'continuous',
            //         seriesIndex: 0,
            //         min: 0,
            //         max: 400
            //     },
            // ],
            legend: {
                data: ['文章', '文稿']
            },

            tooltip: {
                trigger: 'axis'
            },
            xAxis: {
                type: 'category',
                boundaryGap: false,
                data: pv_data[0],
            },
            yAxis: {
                type: 'value'
            },
            grid: {
                left: '2%',
                right: '5%',
                bottom: '2%',
                containLabel: true
            },
            series: [
                {
                    name:'文章',
                    type: 'line',
                    color:'#43b899',
                    showSymbol: false,
                    data: pv_data[1],
                    smooth: true
                },
                {
                    name:'文稿',
                    type: 'line',
                    color:'#FFC005',
                    showSymbol: false,
                    data: pv_data[2],
                    smooth: true
                },
            ]
        };

        pv_chart.setOption(option)

        $("#hot-article").html(render_hot_article(data_01))

        function render_hot_article(obj){
            var str = '';
            for (let i=0;i<obj.length;i++){
                str += '<div style="height: 25px;display: flex">\n' +
                    '<i class="layui-icon" style="font-size: 16px; color: red;margin-left: 5px">&#xe756;</i>\n' +
                    '<div style="margin-left: 5px;width: 90%">'+obj[i].title+'</div>\n' +
                    '<div style="margin-left: 5px">'+obj[i].pv+'</div>\n' +
                    '</div>'
            }
            return str
        }

        function trans_pv_data (obj){
            var res = []
            var date = []
            var art_pv = []
            var doc_pv = []
            if (Array.isArray(obj)){
                for (let i of obj){
                    date.push(i.date);
                    art_pv.push(i.article_pv);
                    doc_pv.push(i.document_pv);
                }
            }
            res.push(date);
            res.push(art_pv);
            res.push(doc_pv);
            return res
        }
    });
</script>
</body>

</html>